/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
p{
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/************* Shiran's Code ************/
body{
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
    color:hsl(0, 0%, 100%);
}

.cardimg{
    width: 100%;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px;
    background:hsl(277, 64%, 61%);
    /* opacity:0.75;   */
}

img{
    height:100%;
    width:100%; 
    opacity:0.8;  
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px;
    padding:0;
    mix-blend-mode: multiply;
}

.highlight{
    color:hsl(277, 64%, 61%);
}

.parentcontainer{
    justify-content: center;
    display:flex;
}
.panel{
    background-color:hsl(244, 38%, 16%);
    display:flex;
    flex-direction: row;
    /* height:450px;  */
    /* margin:185px 260px ; placement of the panel on the screen */
    max-width: 1120px;
    border-radius: 10px; 
    border-radius: 10px;
    padding-bottom: 0;
    position: relative;
}

.card{
    margin: 2%;   
    padding:4%;
    width:80%;
}

.chead{
    font-weight: 700;
    font-size: 1.1em;
}

.ctext{
    font-weight:400;
    color:hsla(0, 0%, 100%, 0.6);
    font-size:1em;
}

.stats{
    text-align: left;
    padding-top:60px;
}

.statdata{
    font-weight: 700;
    font-size: 1.2rem;
    display:block;
}

.spstat{
    flex-direction: row;
    display:flex;
    justify-content: space-between;
}

.statheading{
    color:hsla(0, 0%, 100%, 0.6);
    font-family: Lexend Deca, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

li{
    list-style: none;
    flex-direction: column;
}

ul{
    list-style:none;
    flex-direction: row;
}


ul:first-child{
    padding:0;
}


/* bottom credit line */
.attribution {
    margin:0;
    padding:0;
    border:0;
    font-size: 0.75rem;
    width: 100%;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: center;
    color:white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
